<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet"> 

    <link th:href="@{/styles/home_style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title> 
</head>
<body>

    <div id="mainContainer">

        <div id="navbar">

            <ul class="navList">
                <li class="listItems"><a href="#">Home</a></li>
                <li class="listItems"><a href="#">Profile</a></li>
            </ul>

        </div>

    </div>
    
    

    



</body> 
</html>