<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap" rel="stylesheet"> 

    <link th:href="@{/styles/home_style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title> 
</head>
<body>

    <p id="token" th:text="${token}"></p>


    <div id="mainContainer">

        <div id="navbar">

            <ul class="navList">
                <li class="listItems"> <button id="displayHome" type = "button">Home</li>
                <li class="listItems"> <button id="displayProfile" type = "button">Profile</li>
            </ul>

        </div>

        <div id="QsList">

                



        </div>

        <div id="createQs">
            <form>

                <label for="qsInput">
                <input type="text" id="qsInput" name="qsInput"></input>

                <button id="postQs1" type="button" name="postQs1">Post

            </form>
        </div>
          
        <div>

            <button id="postQs" type="button" name="postQs">
            Post Qs.
        

           
        </div>

    </div>
    
    
 <script type="text/javascript" th:src="@{/js/home_user.js}"></script>



</body> 
</html>