<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/login_style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <div id="main_container"> 

    <div id="form_container">


        <form th:action="@{/login}" method="get",th:object="${user}">

            <label for="username">userNmae:</label>
            <input type="name" name="username">

            <label for="password">Password:</label>
            <input type="password" name="password">

            <div><input type="submit" value="Sign In"/></div>

        </form>

    </div>


    </div>


</body>
</html>