<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/login_style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
    <div id="main_container">
        <div id="form_container">

          

            <form th:action="@{/auth/login}" method="post" th:object="${user}">
               

                <label for="username" >User Name:</label>
                <input type="text" name="username" th:field="*{username}" th:classappend="${#fields.hasErrors('username') ? 'error':''}">

                <div th:each="e : ${#fields.errors('username')}" th:text="${e}"></div>

                

                <label for="password">Password:</label>
                <input type="password" name="password" th:field="*{password}" >

                <input type="submit" value="submit">
            </form>
        </div>
    </div>

</body>
</html>