<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    
    
    <link th:href="@{/styles/createProfilePage_style.css}" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Profile</title>
</head>
<body>

    
    <form th:action="@{/auth/profile}" method="post">

        
        <input type="text"></input>
        


       

        <input type="submit" value="submit">
    </form>
</body>
</html>