body{
    background-color: #C7C788;
    height:100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: start;
   
    
}

#main_container{
    flex-direction: column;
    display: flex;
    font-size: 20px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    padding:100px;
    border:2px solid black;
    width: auto;

}

#token{
    width: 100%;
    display:none;
}



